language: python
python:
  - "2.7"
  - "3.4"
sudo: false
addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gcc
    - gfortran
# command to install dependencies
install: 
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # Replace dep1 dep2 ... with your dependencies
  - conda create -q -n test-environment python
  - source activate test-environment
  - "travis_wait conda install --file requirements.txt"
# command to run tests
script: 
  - "python setup.py build_ext --inplace"
  - "python PyFin/tests/testSuite.py"