include MANIFEST.in
include .coveragerc
include *.md
recursive-include requirements *.txt
recursive-include PyFin *.csv
recursive-include PyFin *.pyx
recursive-include PyFin *.pxd
recursive-include . *.md
